body{
font-family: 'Noto Sans KR', sans-serif;
}

.detail .row{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin: 40px 0;
}

.detail .thumb img{
max-width:100%;
border: 1px solid #ddd;
}

.detail .product-info{
padding: 0 0 0 30px;
}

.detail .product-info h1{
font-weight: 700;
margin-top: 7px;
}

.detail .product-info h2{
font-size: 14px;
color: #c3c3c3;
margin: 0;
font-weight: normal;
}

.detail .product-info .info{
padding-left: 10px;

}

.detail .product-info .info > p{
font-size: 14px;
color: #c3c3c3;
margin: 20px 0 40px;
padding: 0 80px 0 0;
}

.detail .product-info .price{
padding-left: 10px;
}

.detail .product-info .price .origin-price{
margin-top: 15px;
font-size: 13px;
color: #cacaca;
text-decoration: line-through;
margin-bottom: 0;
}

.detail .product-info .price .sale-price{
margin-top: 0;
font-size: 27px;
}

.detail .input-wrap .row{
margin: 20px 0;
}

.detail .button-wrap{
overflow: hidden;
padding: 0 15px;
}

#purchase_box{
width:100%;
display:none;
}

.sel-payment{
display:none;
}

.sel-payment.active{
display:block;
}

#purchase_box .sub_title{
background: #eee;
padding: 7px 14px;
font-size: 19px;
}

#purchase_box .radio_wrap{
margin-top: 10px;
}

#purchase_box .order-form{
margin-top: 20px;
}

.sel-payment label{
display: block;
}

.sel-payment .form-control{
display: inline-block;
width:300px;
}